 /* #mainImage {
    height: auto;
    width: auto;
}  */


#title {
    text-align: center;
    margin-top: 20%;
    margin-left: 10%; 
    font-size: 30pt;
    font-weight: 300;
}


.name {
    font-size: 50pt;
    font-weight: 400;
    color: whitesmoke;
    position: relative;
    z-index: 2;
    margin-top: -80%;
    text-align: center;
    align-items: center;
}


h2 {
    font-size: 26pt;
    font-weight: 300;
    color:whitesmoke;
}


h6 {
    font-size: 12pt;
    font-weight: 200;
    text-align: center;
    

}


.typewrite {
    color: whitesmoke;
    border-right: .14em solid whitesmoke;
    text-align: center;
    margin-top: -40%;
    margin-bottom: -80%;
    
}


.text {
    text-align: center;
    color: whitesmoke;
   
}


